In [78]:
import util
import pandas as pd
import numpy as np
import os

In [8]:
class dataConfig:
    DATA_PATH = str(os.path.join(os.path.dirname(os.path.curdir), '..\\..', 'Dataset'))

In [79]:
# load the dataset

recipes_df = util.get_dataframe(os.path.join(dataConfig.DATA_PATH, 'PP_recipes.csv'))

#users_df = util.get_dataframe(os.path.join('..', '..', 'Dataset', 'PP_users.csv'))

#test_df = util.get_dataframe(os.path.join('..', '..', 'Dataset', 'interactions_test.csv'))

#train_df = util.get_dataframe(os.path.join('..', '..', 'Dataset', 'interactions_train.csv'))

#validation_df = util.get_dataframe(os.path.join('..', '..', 'Dataset', 'interactions_validation.csv'))

In [86]:
# 메모리 사용량 확인
import psutil

# 현재 사용중인 메모리 (Gib)
print(psutil.virtual_memory().used / 1024 / 1024 / 1024)

# 현재 사용중인 메모리 중에서 사용 가능한 메모리
print(psutil.virtual_memory().available / 1024 / 1024 / 1024)

12.940132141113281
2.741039276123047

In [17]:
recipes_df.head()

recipes_df = recipes_df[['id', 'i', 'ingredient_ids']]
recipes_df

            id       i                                     ingredient_ids
0       424415      23                      [389, 7655, 6270, 1527, 3406]
1       146223   96900  [2683, 4969, 800, 5298, 840, 2499, 6632, 7022,...
2       312329  120056  [1257, 7655, 6270, 590, 5024, 1119, 4883, 6696...
3        74301  168258   [7940, 3609, 7060, 6265, 1170, 6654, 5003, 3561]
4        76272  109030                            [3484, 6324, 7594, 243]
...        ...     ...                                                ...
178260  323143   76862            [840, 208, 2499, 2683, 1925, 335, 1511]
178261  149114  145962               [2499, 4717, 1168, 6270, 6324, 7040]
178262   34200   65066  [2378, 7655, 3219, 2320, 5168, 5319, 4189, 268...
178263   30618   77358  [5627, 2807, 5412, 3399, 7979, 1093, 1257, 780...
178264  263840  137160  [6473, 800, 4807, 2683, 335, 1563, 1511, 3248,...

[178265 rows x 3 columns]

In [18]:
users_df = users_df[['u', 'items', 'ratings']]

users_df

,u,items,ratings
0,0,"[1118, 27680, 32541, 137353, 16428, 28815, 658...","[5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 4.0, 4.0, ..."
1,1,"[122140, 77036, 156817, 76957, 68818, 155600, ...","[5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, ..."
2,2,"[168054, 87218, 35731, 1, 20475, 9039, 124834,...","[3.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 5.0, ..."
3,3,"[163193, 156352, 102888, 19914, 169438, 55772,...","[5.0, 5.0, 5.0, 5.0, 4.0, 4.0, 5.0, 5.0, 5.0, ..."
4,4,"[72857, 38652, 160427, 55772, 119999, 141777, ...","[5.0, 5.0, 5.0, 5.0, 4.0, 4.0, 5.0, 4.0, 5.0, ..."
...,...,...,...
25071,25071,"[144172, 154054]","[5.0, 5.0]"
25072,25072,"[162436, 148228]","[5.0, 5.0]"
25073,25073,"[162681, 172034]","[5.0, 5.0]"
25074,25074,"[157808, 159896]","[5.0, 5.0]"
25075,25075,"[166686, 157084]","[4.0, 4.0]"

In [13]:
test_df

       user_id  recipe_id        date  rating      u       i
0         8937      44551  2005-12-23     4.0      2  173538
1        56680     126118  2006-10-07     4.0     16  177847
2       349752     219596  2008-04-12     0.0     26   89896
3       628951      82783  2007-11-13     2.0     45  172637
4        92816     435013  2013-07-31     3.0     52  177935
...        ...        ...         ...     ...    ...     ...
12450   101053     179011  2009-01-03     5.0  25054  130258
12451   252205      81398  2005-12-26     2.0  25055  152255
12452   624305     142984  2011-01-15     1.0  25057  139864
12453   173575     104842  2004-12-18     3.0  25059  140646
12454  1249650     287280  2009-04-28     4.0  25070  166028

[12455 rows x 6 columns]

In [24]:
recipes_df

            id       i                                     ingredient_ids
0       424415      23                      [389, 7655, 6270, 1527, 3406]
1       146223   96900  [2683, 4969, 800, 5298, 840, 2499, 6632, 7022,...
2       312329  120056  [1257, 7655, 6270, 590, 5024, 1119, 4883, 6696...
3        74301  168258   [7940, 3609, 7060, 6265, 1170, 6654, 5003, 3561]
4        76272  109030                            [3484, 6324, 7594, 243]
...        ...     ...                                                ...
178260  323143   76862            [840, 208, 2499, 2683, 1925, 335, 1511]
178261  149114  145962               [2499, 4717, 1168, 6270, 6324, 7040]
178262   34200   65066  [2378, 7655, 3219, 2320, 5168, 5319, 4189, 268...
178263   30618   77358  [5627, 2807, 5412, 3399, 7979, 1093, 1257, 780...
178264  263840  137160  [6473, 800, 4807, 2683, 335, 1563, 1511, 3248,...

[178265 rows x 3 columns]

In [53]:
new_ids = recipes_df['i'].values

print(min(new_ids), max(new_ids))

0 178264

In [55]:
# 총 ingredient 개수
ingredients = [] 
for ing_set in recipes_df['ingredient_ids'].values:
    # int array로 변환
    ing_list = ing_set.strip('[').strip(']').split(',')
    ing_list = [int(i) for i in ing_list]
    for ingredient in ing_list:
        ingredients.append(ingredient) if ingredient not in ingredients else None
        
total_ingredients_num = max(ingredients)+1
    

# cocktail 프로필 만들기
cocktail_profile = np.zeros((recipes_df.shape[0], total_ingredients_num))
for i in range(recipes_df.shape[0]):

    # cocktail id
    cocktail_id = recipes_df.iloc[i]['id']
    
    # cocktail에 들어가는 ingredient id
    ing_set = recipes_df.iloc[i]['ingredient_ids']
    ing_list = ing_set.strip('[').strip(']').split(',')
    ing_list = [int(i) for i in ing_list]
    
    # cocktail profile
    for ing in ing_list:
        cocktail_profile[i][ing] = 1

cocktail_profile.shape

(178265, 8023)

In [77]:
# cocktail_profile test, train, validation split 
from sklearn.model_selection import train_test_split

# test
train, test = train_test_split(cocktail_profile, test_size=0.2, random_state=10)

# train, validation
train, validation = train_test_split(train, test_size=0.2, random_state=10)

print(train.shape, validation.shape, test.shape)

MemoryError: Unable to allocate 8.52 GiB for an array with shape (142612, 8023) and data type float64

In [76]:
# 미사용 변수 삭제
del users_df
del test_df
del train_df
del validation_df

In [70]:
test.shape
#train.shape

(17827, 8023)

In [63]:
from keras.layers import Input, Dense
from keras.models import Model

# Define input layer
input_layer = Input(shape=(N,))

# Define encoder layer
encoder_layer = Dense(units=H, activation='relu')(input_layer)

# Define decoder layer
decoder_layer = Dense(units=N, activation='sigmoid')(encoder_layer)

# Define autoencoder model
autoencoder = Model(inputs=input_layer, outputs=decoder_layer)

# Compile autoencoder model
autoencoder.compile(optimizer='adam', loss='binary_crossentropy')

# Train autoencoder model
autoencoder.fit(x_train, x_train, epochs=10, batch_size=32, validation_data=(x_test, x_test))

OSError: No file or directory found at autoencoder.h5

In [43]:
# pickle 파일 불러오기

import pickle

with open('..\\..\\Dataset\\ingr_map.pkl', 'rb') as f:
    ing_map = pickle.load(f)

print(map)

                                                raw_ingr  raw_words  \
0      medium heads bibb or red leaf lettuce, washed,...         13
1                  mixed baby lettuces and spring greens          6
2                                   romaine lettuce leaf          3
3                                   iceberg lettuce leaf          3
4                                    red romaine lettuce          3
...                                                  ...        ...
11654                                           soybeans          1
11655                                              goose          1
11656                                             ajwain          1
11657                                           brinjals          1
11658                                              khoya          1

                                               processed  len_proc replaced  \
0      medium heads bibb or red leaf lettuce, washed,...        73  lettuce
1                   mixed baby lettuces and spring green        36  lettuce
2                                   romaine lettuce leaf        20  lettuce
3                                   iceberg lettuce leaf        20  lettuce
4                                    red romaine lettuce        19  lettuce
...                                                  ...       ...      ...
11654                                            soybean         7  soybean
11655                                              goose         5    goose
11656                                             ajwain         6   ajwain
11657                                            brinjal         7  brinjal
11658                                              khoya         5    khoya

       count    id
0       4507  4308
1       4507  4308
2       4507  4308
3       4507  4308
4       4507  4308
...      ...   ...
11654     31  6702
11655      8  3318
11656     13    47
11657      2   750
11658      6  4061

[11659 rows x 7 columns]

In [36]:
ingredients = [] 
for ing_set in recipes_df['ingredient_ids'].values:
    # int array로 변환
    ing_list = ing_set.strip('[').strip(']').split(',')
    ing_list = [int(i) for i in ing_list]
    for ingredient in ing_list:
        ingredients.append(ingredient) if ingredient not in ingredients else None
        

len(ingredients)

7993

In [47]:
print(min(ingredients), max(ingredients))

0 8022

In [40]:
print(min(ingredients), max(ingredients))

notIn = []
for i in range(8023):
    if i not in ingredients:
        notIn.append(i)

print(len(notIn))

0 8022
30

In [46]:
replaced = ing_map['replaced'].values

replaced = set(replaced)

print(len(replaced))

8023